.game-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.game-container > .control-panel {
    height: fit-content;

    position: absolute;
    bottom: 8px;
    right: 8px;
    left: 8px;
    
    padding: 16px;
    background-color: var(--container-secondary);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

.game-container > .control-panel > .title {
    width: 100%;
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 12px;
}

.game-container > .control-panel > .row {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: start;

    column-gap: 16px;
}
