.task-list .list .item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  overflow: hidden;

  padding: 32px;
  border-radius: 8px;
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  &:hover {
    background-color: var(--container-primary);
  }
}

.task-list .list .item .icon {
  width: 56px;
  height: 56px;
  padding: 12px;
  border-radius: 16px;
  flex-shrink: 0;
  background-color: var(--container-secondary);
}

.task-list .list .item .icon img {
  width: 100%;
  height: 100%;
}

.task-list .list .item .text {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  overflow: hidden;
}

.task-list .list .item .text .title {
  font-weight: 600;
  font-size: 1.4em;
  color: var(--text-primary);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.task-list .list .item .text .subtitle {
  font-weight: 400;
  font-size: 1.0em;
  text-align: start;
  margin-top: 8px;
  color: var(--text-secondary);
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  overflow: hidden;
}