.popup-container {
    position: relative;
}

.popup-container .popup {
    visibility: hidden;

    width: max-content;
    height: max-content;

    position: absolute;
}

.popup-container .popup.anchor-tl {
    top: 0;
    left: 0;
}

.popup-container .popup.anchor-bl {
    bottom: 0;
    left: 0;
}

.popup-container:hover .popup {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
