.info-footer-root {
    z-index: 1;
}

.info-footer-popup {
    position: relative;
    left: calc(56px + 8px);

    width: max-content;
    height: max-content;

    display: flex;
    flex-direction: column;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;

    row-gap: 4px;

    border-radius: 16px;
    color: var(--container-on-primary);
    background-color: var(--container-primary);
}

.info-footer-popup > .common-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
}

.info-footer-popup * .logo {
    height: 32px;
}

.info-footer-popup * .text {
    margin-left: 16px;
    font-weight: 500;
    font-size: 1.1em;
}

.info-footer-popup > .link {
    width: max-content;

    margin: 4px;

    color: var(--container-on-secondary);
    background-color: var(--container-secondary);

    border-radius: 16px;
    text-decoration: none;

    &:hover {
        color: var(--container-on-secondary);
        background-color: var(--container-secondary);
        outline-style: solid;
        outline-width: 2px;
        outline-color: var(--container-on-secondary);
    }
}

.info-footer-popup .ri {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
}

.info-footer-popup * .in-collaboration {
    margin-bottom: 10px;
    font-weight: 800;
}

.info-footer-popup * .logo-ri {
    width: 256px;
    height: auto;
}

